.elementContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.singleElement {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}